/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 700px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    margin: 1rem auto;
    border: 1px;
    padding: 0.5rem;
    text-align: center;
}

.menu button {
    padding: 1rem;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
    align-items: center;
}

.grid section {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #eee;
}

.grid img {
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: flex;
    gap: 1rem;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #eee;
}

.list img {
    width: 50px;
    height: 50px;
}

section h3 {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

section p,
section a {
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;

}

a {
    text-decoration: none;
    color: navy;
}

a:hover {
    text-decoration: underline;
}

.grid section h3,
.grid section p {
    margin: 0.5rem 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2C3E50;
  color: white;
}

.header-left {
    display: flex;
    align-items: center;
  }
  
  .header-left .logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a.active {
    font-weight: bold;
}


#view-toggle {
    text-align: center;
    margin-bottom: 1em;
}

#directory {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2C3E50;
  color: white;
  position: bottom;
}

.footer-left {
    text-align: left;
  }
  
  .footer-center a img {
    width: 30px;
    height: auto;
    margin: 0 10px;
  }
  
  .footer-right {
    text-align: right;
    font-size: 0.9rem;
  }