footer,
header {
    background-color: #333;
    color: #fff;
    text-align: center
}

body,
footer,
header,
nav a {
    color: #fff
}

header,
main {
    padding: 20px
}

.book-grid,
.container,
main {
    display: grid
}

.modal a,
nav a {
    text-decoration: none
}

.close,
button {
    cursor: pointer;
    font-weight: 700
}

.book,
.modal a,
.modal-content,
.nav-item,
body,
footer,
header,
nav {
    text-align: center
}

.container {
    grid-template-areas: "header" "nav" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto
}

nav {
    grid-area: nav;
    background-color: #444;
    padding: 10px
}

nav a {
    margin: 0 15px;
    font-size: 18px
}

nav a:hover {
    text-decoration: underline
}

main {
    grid-area: main;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px
}

.book img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    align-items: center
}

footer {
    grid-area: footer;
    padding: 10px;
    margin-top: 20px
}

@media (min-width:768px) {
    .container {
        grid-template-areas: "header header" "nav nav" "main main" "footer footer"
    }
}

@media (min-width:1024px) {
    .container {
        grid-template-areas: "header header header" "nav main main" "footer footer footer";
        grid-template-columns: 1fr 3fr
    }
}

body {
    background-color: #222;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0
}

.container {
    grid-template-areas: "header" "nav" "main" "footer";
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin: auto;
    padding: 10px
}

header {
    grid-area: header
}

#searchBar {
    width: 100%;
    height: 25px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex
}

.book-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 10px;
    list-style: none;
    justify-content: center
}

.book {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    background: #444;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform .2s, box-shadow .2s
}

.book:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 255, 255, .2)
}

button {
    background: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    transition: background .3s, color .3s
}

button:hover {
    background: #fc0;
    color: #222
}

.modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.modal img,
.modal-content,
.nav-bar {
    display: flex;
    display: flex
}

.modal-content {
    background: gray;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.modal img {
    width: 150px;
    max-height: 400px;
    object-fit: contain;
    border-radius: 5px;
    margin: 0 auto;
    justify-content: center;
    align-items: center
}

.modal a {
    display: block;
    margin: 10px auto;
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    width: 80%
}

.modal a:hover {
    background: pink
}

.modal-header {
    position: relative
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #000;
    background: 0 0;
    border: none;
    z-index: 1000
}

.nav-bar {
    width: 87%;
    height: 25px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
    justify-content: space-between;
    background-color: #fff;
    color: #000
}

.nav-item {
    flex: 1
}

.nav-item:hover {
    background-color: pink
}